<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleExecutable</key>
    <string>CopyPathToClipboard</string>
    <key>CFBundleIdentifier</key>
    <string>com.fragmede.copy-path-to-clipboard</string>
    <key>CFBundleName</key>
    <string>Copy Path to Clipboard</string>
    <key>CFBundleDisplayName</key>
    <string>Copy Path to Clipboard</string>
    <key>CFBundleIconFile</key>
    <string>CopyPathToClipboard</string>
    <key>CFBundleVersion</key>
    <string>1.2</string>
    <key>CFBundleShortVersionString</key>
    <string>1.2</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>LSMinimumSystemVersion</key>
    <string>12.0</string>
    <key>LSUIElement</key>
    <true/>
    <key>CFBundleDocumentTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeName</key>
            <string>All Files</string>
            <key>CFBundleTypeRole</key>
            <string>Viewer</string>
            <key>LSHandlerRank</key>
            <string>Alternate</string>
            <key>LSItemContentTypes</key>
            <array>
                <string>public.item</string>
            </array>
        </dict>
    </array>
    <key>NSServices</key>
    <array>
        <dict>
            <key>NSMenuItem</key>
            <dict>
                <key>default</key>
                <string>Copy Path to Clipboard</string>
            </dict>
            <key>NSMessage</key>
            <string>copyPathService</string>
            <key>NSPortName</key>
            <string>Copy Path to Clipboard</string>
            <key>NSSendFileTypes</key>
            <array>
                <string>public.item</string>
            </array>
        </dict>
        <dict>
            <key>NSMenuItem</key>
            <dict>
                <key>default</key>
                <string>Copy File Name to Clipboard</string>
            </dict>
            <key>NSMessage</key>
            <string>copyFileNameService</string>
            <key>NSPortName</key>
            <string>Copy Path to Clipboard</string>
            <key>NSSendFileTypes</key>
            <array>
                <string>public.item</string>
            </array>
        </dict>
    </array>
</dict>
</plist>
